.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=text] {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border-color: lightgray;
  width: 90%;
  display: block;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.user-add-button {
  font: inherit;
  margin-top: 10px;
  border-color: darkgray;
  outline: 0;
  border-radius: 0.2em;
  box-sizing: border-box;
}


.displayUsers {
  margin-top: 20px;
}

.displayUsers div {
  width: 400px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}